body, html {
  width: 100%;
  height: 100%;
}

/* Custom scrollbar */
*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

*::-webkit-scrollbar
{
	width: 2px;
  height: 2px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
	background-color: rgba(0,0,0,0.5);
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  max-width: 700px;
  max-height: 540px;
  width: 100%;
  border: solid 1px grey;
}

.top-container {
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.hotBackground {
  background-image: url('./background images/hot-weather.jpg');
  color: white;
  background-position: 50% 65%;
  background-repeat: no-repeat;
  background-size: cover;
}

.coldBackground {
  background-image: url('./background images/cold-weather.jpg');
  background-position: 90% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}

.text-block {
  width: 100%;
  height: 100%;
  color: white;
  background: rgba(0, 0, 0, 0.35);
  padding-top: 1%;
}

.main-heading {
  margin: 0 0 15px;
}

.locationBtn {
  padding: 1px 8px;
  position: absolute;
  top: 10%;
  right: 3%;
  border-radius: 22px;
  font-size: 0.9rem;
  z-index: 500;
  cursor: pointer;
}

.weatherRow {
  margin-bottom: 1%;
}

.weatherRow .col-auto {
  padding-left: 25px;
  padding-right: 0;
}

.weather-clipart {
  position: absolute;
  top: -80%;
  right: -150%;
}

.middle-container {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  position: relative;
}

.coldBackgroundMiddle .forcastCard {
  background-color: lightcyan;
}

.hotBackgroundMiddle .forcastCard {
  background-color: ivory;
}

.col.mb-2{
  margin: 0 !important;
}

.forcastCard {
  border-radius: 20px;
  height: 100%;
  border: 1px solid #2b1408;
}

.forcastCard .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem;
  border-radius: 20px;
}

.forcastCard .card-body p {
  margin-bottom: 0;
}

.forcastCard .col-auto {
  margin: 0;
  padding-left: 20px;
  padding-right: 0;
}

.forcast-weather-clipart {
  position: absolute;
  position: absolute;
  top: -45%;
  right: -80%;
}

.bottom-container {
  height: 30%;
  text-align: center;
}

.hotBackgroundBottom {
  background-image: linear-gradient(to bottom right, #351810, #f26e02, #fdc614);
  color: white;
}

.coldBackgroundBottom {
  background-image: linear-gradient(to bottom right, #2a6d9f, #6ca2d0, #d2dbff);
  color: black;
}

.bottom-container .card-title {
  margin: 10px auto;
}

.bottom-container .row {
  margin: 0;
  margin-bottom: 1%;
  text-align: left;
}

.bottom-container .row .col{
  padding-left: 13%;
}

.windDegIcon{
  position: absolute;
  top: 25%;
  font-size: 0.9rem;
}

/* Modal Styles */
.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainModalRow {
  width: 50%;
}

#modal {
  background-color: white;
  border-radius: 18px;
}

.modalContainer .row .form-control {
  width: 110%;
  border-radius: 18px
}

.searchIconCol {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
  margin-left: 7%;
  cursor: pointer;
}

.instructionContainer{
  display: block;
  text-align: left;
  text-transform: none;
  margin-top: 10px;
}

.instructionRow{
  font-size: 0.9rem;
  display: block;
  margin-bottom: 0;
  padding-left: 5.5%;
}

.errorRow {
  padding-left: 8%;
  color: indianred;
  font-size: 0.9rem;
  margin-top: 5px;
  display: none;
  text-align: left;
  text-transform: none;
}

.errorRow p {
  margin: 0;
}

.show {
  display: block;
}

@media screen and (max-width: 450px) {
  .main-container {
    height: 100%;
    width: 100%;
  }

  .top-container{
    width: 100%;
    height: 35%;
    min-width: 0;
  }

  .top-container .main-heading{
    text-align: center;
    margin: 0 5px 15px;
  }

  .top-container .row.weatherRow{
    margin: auto 10px;
  }

  .locationBtn{
    top: 8%;
    font-size: 1rem;
  }

  .middle-container{
    padding: 0;
    flex-direction: row;
  }

  .middle-container .row{
    overflow: auto;
    white-space: nowrap;
    margin: 0;
    flex-wrap: nowrap;
  }

  .middle-container .row-cols-1>* {
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 100%;
  }

  .row.weatherRow{
    overflow: initial;
  }

  .bottom-container .row .col{
    padding-left: 5%;
  }

  .bottom-container .text-block{
    padding: 8px !important;
    font-size: 0.9rem;
  }

  .bottom-container .card-title{
    margin: 15px auto;
  }

  .windDegIcon{
    right: 1% !important;
  }

  .mainModalRow{
    width: 100%;
  }

  .instructionRow{
    margin-bottom: 0;
    padding: 5px;
    padding-left: 7%;
  }
}
